-e .
git+https://github.com/openstack/neutron.git@stable/newton
git+https://github.com/F5Networks/neutron-lbaas.git@stable/newton
git+https://github.com/F5Networks/pytest-symbols.git
git+https://github.com/F5Networks/f5-openstack-test.git@stable/newton

f5-sdk==2.3.3
pytest-cov==2.2.1
-c https://git.openstack.org/cgit/openstack/requirements/plain/upper-constraints.txt?h=stable/newton
tempest==12.1.0
python-glanceclient==2.5.0
python-heatclient==1.5.2
