-c https://git.openstack.org/cgit/openstack/requirements/plain/upper-constraints.txt?h=stable/newton
-e .
git+https://github.com/openstack/neutron.git@stable/newton
git+https://github.com/F5Networks/neutron-lbaas.git@stable/newton
git+https://github.com/F5Networks/pytest-symbols.git
git+https://github.com/F5Networks/f5-openstack-test.git@stable/newton
tempest==12.1.0

mock==1.3.0
pytest==3.0.1
pytest-cov==2.2.1
decorator==4.0.9
paramiko==1.16.0
